.background {
  background: center no-repeat url('https://github.com/ukulele880990/Cast-Skin/blob/a82ac13539e76d0a7885edd23f358a0c88741af9/background.jpeg');
}

.logo {
  background-image: url('https://github.com/ukulele880990/Cast-Skin/blob/a82ac13539e76d0a7885edd23f358a0c88741af9/background.jpeg');
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image: url('https://github.com/ukulele880990/Cast-Skin/blob/a82ac13539e76d0a7885edd23f358a0c88741af9/background.jpeg');
}

.watermark {
  background-image: url('https://github.com/ukulele880990/Cast-Skin/blob/a82ac13539e76d0a7885edd23f358a0c88741af9/background.jpeg');
  background-size: 57px 57px;
}
